.left_container{
	position:fixed;
	top:0%;
	left:0%;
	width:25%;
	height: 97%;
	text-align: left;
}
.right_container{
	position:fixed;
	top:0%;
	right:0%;
	width:25%;
	height: 97%;
	text-align: right;
}
.left_img{
	width: 100%;
	height: 100%;
}
.right_img{
	width: 100%;
	height: 100%;
}
.hidden1{
	display: none;
	width: 30%;
	height: 10%;
	position: fixed;
	top:35%;
	right: 25%;
	font-family: 'Helvetica',cursive;
	font-size: 1rem;
	color: #912E18;
  	margin: 0px auto;
  	z-index: 10;
}

.hidden3{
	display: none;
	width: 30%;
	height: 10%;
	position: relative;
	top:20%;
	right: 10%;
	font-family: 'Helvetica',cursive;
	font-size: 1rem;
	color: #1E71D4;
  	margin: 0px auto;
  	z-index: 10;
}

.hidden2{
	display: none;
	width: 10%;
	height: 20%;
	position: fixed;
	bottom:40%;
	left: 25%;
}
.hidden4{
	display: none;
	width: 10%;
	height: 30%;
	position: fixed;
	bottom:10%;
	left: 25%;
}
.hidden5{
	display: none;
	width: 5%;
	height: 15%;
	position: fixed;
	bottom:10%;
	right: 40%;
}

.a_img{
	height: 100%;
}

@media only screen and (min-width: 1200px) {
  .hidden1 {
    display: inherit;
  }
}
@media only screen and (min-width: 1000px) {
  .hidden3 {
    display: inherit;
  }
}
@media only screen and (min-width: 850px) {
  .hidden2 {
    display: inherit;
  }
}
@media only screen and (min-width: 720px) {
  .hidden4 {
    display: inherit;
  }
}
@media only screen and (min-width: 600px) {
  .hidden5 {
    display: inherit;
  }
}


@media only screen and (max-width: 640px) {
	.left_container{
		width:95%;
	}
	.right_container{
		width:95%;
	}
}
