#package{
	width: 610px;
	height: 900px;
	background-color: #0575B4;
	/* horizontal + vertical center align - parent div */
	position: relative;
	/*//////*/
}

#package:hover {
	display: none;
}

#chips{
	position: fixed;
}

#chip{
	position: fixed;
	height: 45%;
	width: 610px;
}

#name{
	/* horizontal + vertical center align - child div */
	margin: 0;
	position: absolute;
	top: 30%;
	left: 40%;
	transform: translate(-50%, -50%);
	/*//////*/
	font-family: 'Patua One'; 
	font-size: 180px;
	color:white;
	font-style: italic;
	font-weight: bold;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: black;
	letter-spacing: -3px;
}

#name1{
	/* horizontal + vertical center align - child div */
	margin: 0;
	position: absolute;
	top: 42%;
	left: 55%;
	transform: translate(-50%, -50%);
	/*//////*/
	font-family: 'Patua One'; 
	font-size: 120px;
	color:yellow;
	font-style: italic;
	font-weight: bold;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: black;
	letter-spacing: -3px;
}

#subtitle{
	position: absolute;
	top: 75%;
	left: 35%;
	font-family: 'Amatic SC' ;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 55px;
	color: white;
}

#subtitle2{
	position: absolute;
	top: 83%;
	left: 50%;
	transform: translate(-50%, 0%);
	font-family: 'Amatic SC' ;
	letter-spacing: 4px;
	font-size: 36px;
	color: yellow;
	background-color:
	padding:9px;
}

#subtitle3{
	position: absolute;
	top: 97%;
	left: 16%;
	transform: translate(-50%, 0%);
	font-family: 'Amatic SC' ;
	letter-spacing: 4px;
	font-size: 20px;
	color: white;
	background-color:
	padding:15px;
}
#weight{
	position: absolute;
	bottom: 7%;
	left: 3%;
	font-family: sans-serif;
	text-align: center;
}

#calories{
	position: absolute;
	bottom: 7%;
	right: 3%;
	font-family: sans-serif;
	font-size: 9px;
	text-align: center;
	background-color:white;
	border:3px solid black;
	border-radius: 12%;
	padding: 6px;
}

#cal_number{
	font-size: 19px;
}

#original_img_container{
	position: fixed;
	width: 720px;
	top: 900px;
}

#original_img{
	width: 100%;
}